body {
  margin: 0;
}
.side {
  width: 300px;
  display: flex;
  flex-direction: column;

  h1 {

  }
  a {
    margin: 0 20px;
    color: #1a7ff1;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }

    &.router-link-exact-active {
      color: #000;
      font-size: 25px;
      text-decoration: none;
    }
  }
}
.demo {
  flex: 1;
  min-height: 90vh;
  margin: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
}
main {
  display: flex!important;
  padding: 0 20px;
  background-color: #efefef;
}

.demo-row {
  display: flex;
  flex-direction: row;
}
.demo-col {
  display: flex;
  flex-direction: column;
}
.demo-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #efefef;
  overflow: hidden;
  opacity: 1;
  display: block;

  &.success {
    background-color: #cef1bc;
    color: #67c23a;
  }
  &.error {
    background-color: #f1cdcd;
    color: #f56c6c;
  }
}
.demo-result {
  min-height: 100px;
  padding: 10px;
  background-color: #fff;
  border: none;
}

@media (min-width: 1024px) {

}

