:root {
  --dynamic-form-border-size: 2px;
  --dynamic-form-border-radius: 8px;
  --dynamic-form-control-size: 2rem;
  --dynamic-form-check-control-size: 1.4rem;

  
  --dynamic-form-group-radius: var(--dynamic-form-border-radius);
  --dynamic-form-group-padding: 10px;
  --dynamic-form-group-margin: 20px;
}

//输入框
input[type="text"].dynamic-form-base-control,
input[type="password"].dynamic-form-base-control, 
textarea.dynamic-form-base-control, 
select.dynamic-form-base-control {
  max-width: 100%;
  padding: 1px 11px;

  background-color: var(--dynamic-form-base-color);
  background-image: none;
  border-radius: var(--dynamic-form-border-radius);
  border: var(--dynamic-form-border-size) solid var(--dynamic-form-border-color);
  box-shadow: 0 3px 6px 0 var(--dynamic-form-shadow-color);

  font-size: var(--dynamic-form-font-size);
  outline: none;

  &::-webkit-input-placeholder {
    color: var(--dynamic-form-placeholder-color);
  }

  &:disabled {
    opacity: 0.8;
    color: var(--dynamic-form-secondary-color);
  }

  &:hover, &:active, &:focus {
    border-color: var(--dynamic-form-primary-color);
    box-shadow: 0 3px 6px 0 var(--dynamic-form-shadow-darker-color);
  }
}
input[type="text"].dynamic-form-base-control,
input[type="password"].dynamic-form-base-control, 
textarea.dynamic-form-base-control {
  line-height: var(--dynamic-form-control-size);
  height: var(--dynamic-form-control-size);
}

//单选框
.dynamic-form-base-control.radio {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 6px;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  --dynamic-form-border-size: 4px;

  input {
    position: relative;
    appearance: none;
    width: var(--dynamic-form-check-control-size);
    height: var(--dynamic-form-check-control-size);
    border-radius: 50%;
    background-color: var(--dynamic-form-base-color);
    border: var(--dynamic-form-border-size) solid var(--dynamic-form-border-color);
    box-shadow: 0 4px 6px 0 var(--dynamic-form-shadow-color);
    margin: 0;
    margin-right: 5px;
    cursor: pointer;
    
    &:after {
      position: absolute;
      display: inline-block;
      top: 3px;
      left: 3px;
      width: calc(var(--dynamic-form-check-control-size) - 6px - var(--dynamic-form-border-size) * 2);
      height: calc(var(--dynamic-form-check-control-size) - 6px - var(--dynamic-form-border-size) * 2);
      content: "";
      border: none;
      text-align: center;
      border-radius: 14px;
    }

    &:checked {
      &:after {
        background-color: var(--dynamic-form-primary-color);
      }
    }

  }
}

//复选框
.dynamic-form-base-control.base-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  --dynamic-form-border-size: 4px;

  input {
    display: none;
  }

  .checker-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: var(--dynamic-form-check-control-size);
    width: var(--dynamic-form-check-control-size);
    overflow: hidden;
    background-color: var(--dynamic-form-base-color);
    background-image: none;
    border-radius: var(--dynamic-form-border-radius);
    border: var(--dynamic-form-border-size) solid var(--dynamic-form-border-color);
    color: var(--dynamic-form-primary-color);
    box-shadow: 0 4px 6px 0 var(--dynamic-form-shadow-color);
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
  }

  .checker {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    fill: currentColor;
  }
}

//多行文本框
textarea.dynamic-form-base-control {
  height: unset;
}

//按钮
.dynamic-form-base-control.base-button {
  --dynamic-form-button-shadow-color: rgba(0, 0, 0, 0.2);

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  -webkit-user-select: none;
  user-select: none;
  width: auto;
  white-space: nowrap;
  transition: background-color .1s,transform .1s,color .35s cubic-bezier(.65,0,.25,1);
  border: none;
  cursor: pointer;
  border-radius: var(--dynamic-form-border-radius);
  box-sizing: border-box;
  overflow: hidden;
  min-width: 60px;
  height: var(--dynamic-form-control-size);
  padding: 0 14px;
  font-size: var(--dynamic-form-font-size);
  box-shadow: 0 4px 6px 0 var(--dynamic-form-button-shadow-color);

  background: var(--dynamic-form-background-color);
  color: var(--dynamic-form-text-color);

  svg {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
  }
  span {
    margin-left: 5px;
  }

  &:hover {
    background-color: var(--dynamic-form-background-hover-color);
  }
  &:focus, &:active {
    outline: var(--dynamic-form-border-size) solid var(--dynamic-form-primary-color);
  }
  &:active {
    transform: scale(0.96);
  }
}

//布局
.dynamic-form-row {
  display: flex;
  flex-direction: row;
  flex: 1;

  &.center {
    align-items: center;
  }
}
.dynamic-form-col {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}