
.dynamic-form-control {
  position: relative;
}
.dynamic-form-error-alert {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .message {
    font-size: 14px;
    line-height: 20px;
  }
  .extra-message {
    font-size: 12px;
    line-height: 16px;
  }

  &.warning {
    background-color: var(--dynamic-form-warning-color2);
    color: var(--dynamic-form-warning-color);
  }
  &.error {
    background-color: var(--dynamic-form-error-color2);
    color: var(--dynamic-form-error-color);
  }
}
.dynamic-form-object-title {
  color: var(--dynamic-form-secondary-color);
  height: var(--dynamic-form-height);
  line-height: var(--dynamic-form-height);
}
.dynamic-form-control-item {
  padding: 2px 6px;
  margin-bottom: var(--dynamic-form-space);

  .dynamic-form-control-item {
    padding-left: 0;
    padding-right: 0;
  }

  .error-message {
    color: var(--dynamic-form-error-color);
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }

  label {
    color: var(--dynamic-form-secondary-color);
    height: var(--dynamic-form-height);
    line-height:  var(--dynamic-form-height);
    padding: 0 12px 0 0;

    .colon {
      color: var(--dynamic-form-secondary-color);
      margin-left: 3px;
      margin-right: 5px;
    }
    .required {
      color: var(--dynamic-form-error-color);
      margin-right: 10px;
    }
  }
  .label-container {
    flex-shrink: 0;
  }
  .wrapper-container {
    flex-grow: 1;
  }
}
.dynamic-form-wrapper {
  position: relative;
}
.dynamic-form-item-wrapper {
  &.nest-with-margin > .dynamic-form-item-wrapper {
    margin-left: var(--dynamic-form-item-nest-margin);
  }
}
