
.dynamic-form-control {
  position: relative;
}
.dynamic-form-error-alert {
  color: var(--dynamic-form-error-color);
}
.dynamic-form-object-title {
  color: var(--dynamic-form-secondary-color);
  height: var(--dynamic-form-height);
  line-height: var(--dynamic-form-height);
}
.dynamic-form-control-item {
  padding: 2px 6px;
  margin-bottom: var(--dynamic-form-space);

  .dynamic-form-control-item {
    padding-left: 0;
    padding-right: 0;
  }

  .error-message {
    color: var(--dynamic-form-error-color);
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }

  label {
    color: var(--dynamic-form-secondary-color);
    height: var(--dynamic-form-height);
    line-height:  var(--dynamic-form-height);
    padding: 0 12px 0 0;

    .colon {
      color: var(--dynamic-form-secondary-color);
      margin-left: 3px;
      margin-right: 5px;
    }
    .required {
      color: var(--dynamic-form-error-color);
      margin-right: 10px;
    }
  }
  .label-container {
    flex-shrink: 0;
  }
  .wrapper-container {
    flex-grow: 1;
  }
}
.dynamic-form-wrapper {
  position: relative;
}
.dynamic-form-item-wrapper {
  &.nest-with-margin > .dynamic-form-item-wrapper {
    margin-left: 20px;
  }
}
